.full-width {
	width: 100%;
}

.bold-statement {
	font-weight: bold;
}

.details-wrapper {
	width: 70%;
	margin-top: 40px;
}

#details {
	display: none;
}

#title {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	padding-bottom: 16px;
}

.main-btn {
	margin-right: 20px;
	margin-bottom: 10px;
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	border: none;
	border-radius: 7px;
	color: white;
	padding: 10px;
}

#details .btn {
	margin-top: 10px;
	font-size: 120%;
	font-weight: bold;
}

.btn-wrapper {
	margin: 30px 0;
}
