.wrapper {
	width: 100%;
	text-align: center;
	height: 50%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.title {
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;
  	margin: 10px 30px;
  	color: rgba(0, 0, 0, 0.8);
  	font-weight: bold;
  	margin: 0 30px 40px 30px;
}

.fa-download {
	color: red;
}

.input-container {
	display: block;
}

#videoInput {
	display: inline-block;
	width: 29.3%;
	margin: 0 auto;
	padding: 6px 10px;
	font-size: 130%;
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

#videoInput:focus {
	border: 1px solid rgba(255, 0, 0, 1);
}

#videoSubmit {
	width: 10%;
	background-color: rgb(255, 0, 0);
	color: white;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border: 1px solid rgb(255, 0, 0);
	font-size: 130%;
	padding: 6px 10px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#videoSubmit:hover {
	width: 12%;
	background-color: rgba(215, 0, 0);
	font-weight: bold;
}


